<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ResourceModel\Cms\Page">
        <plugin name="maxcode_sitemapexcludecms_exclude_flagged_pages"
                type="Maxcode\SitemapExcludeCms\Plugin\Sitemap\ExcludeFlaggedPages"/>
    </type>
</config>
